
.modal-form_wrapper {
  background: #232323;
  .modal{

    &.__head{
      display: flex;
      justify-content: space-between;
      h3 {
        font-size: 1.25rem;
        color: #fff;
        text-align: center;
        margin-bottom: 20px;
      }
      .link_modal-head{
        font-size: 0.875rem;
        color: #E39600;
        text-decoration: underline;
      }
    }
    &.__body{

    }
  }



  p {
    color: #fff;
    text-align: center;
  }

  .input-wrapper {
    width: 100%;
    overflow: hidden;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #fff;
    margin-bottom: 20px;
  }

  i {
    color: red;
    padding-left: 10px;
    font-size: 12px;
  }

  input {
    display: block;
    border: none;
    font-size: 17px;
    color: #fff;
    background: transparent;
    width: 100%;
    padding: 10px;
    background: transparent;
  }

  .btn_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .btn {
    font-size: 17px;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 5px;
    &:hover {
      opacity: 0.8;
    }
  }
  .btn-yellow {
    border: none;
    background: #E39600;
  }

}
