@media (min-width: 992px) and (max-width: 1200px) {

  .container{
    width: calc(90% - 30px) !important;
  }

  .header{
    .links-wrapper_header{
      .brand-link{
        font-size: 1.5rem;
      }
      .link-item{
        font-size: 0.875rem;
      }
    }
  }

}

@media (min-width: 768px) and (max-width: 991.98px) {

  html{
    font-size: 16px;
  }

  .container{
    width: calc(97% - 30px) !important;
  }

  .header{
    .links-wrapper_header{
      .brand-link{
        font-size: 1.5rem;
      }
      .link-item{
        display: none;
      }
    }
    .registration-wrapper_header{
      display: none;
    }
    .burger-btn{
      display: block;
    }
    .mobile-list{
      display: block;
    }
  }

  .main-banner{
    text-align: center;
    min-height: 100%;
    h1{
      font-size: 2.5rem;
      line-height: 40px;
      br{
        display: none;
      }
    }
    ul{
      li{
        font-size: 1.5rem;
      }
    }
  }

  .to-win_section{
    padding-bottom: calc(100px - 8vh);
    .title_to-win{
      font-size: 2rem;
      line-height: 40px;
    }
    .item_to-win{
      width: 33%;
      .item-inner_block{
        padding: 0 20px;
      }
    }
  }

  .regulations_section {
    padding-top: 90px;
    padding-bottom: 70px;
    .container_custom{
      width: 100%;
      padding: 0;
    }
    .flex-wrapper{
      flex-wrap: wrap;
      box-shadow: none;
      justify-content: space-between;
      padding: 20px 15px;
    }
    .item-regulations{
      width: calc(50% - 60px);
      margin: 0 15px 30px 15px;
      box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      background-color: #fff;
      padding: 30px 15px;
      &.__right-block{
        width: 100%;
        max-width: 100%;
      }
    }

  }

  .referral_section{
    h3{
      font-size: 2rem;
      line-height: 40px;
    }
    p{
      font-size: 1.25rem;
      line-height: 30px;
    }
  }

  .footer{
    padding-bottom: 60px;
    .flex-wrapper{
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      a{
        margin-bottom: 20px;
        &:before{
          width: 50%;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  .date-section {
    padding-top: 70px;
    .flex-wrapper{
      flex-wrap: wrap;
    }
    .history-block{
      width: 100%;
      order: 2;
      padding: 0;
      .title{
        text-align: center;
      }
    }
    .info-block{
      width: 100%;
      order: 1;
      text-align: center;
      .btn_wrapper{
        .btn-pour-in, .btn-bring-out{
          margin: 0 20px 20px 20px;
        }
      }
    }
    .field-wrapper{
      margin-top: 70px;
      padding:0;
      .date-entry-inner{
        &:before{
          height: 101%;
        }
        .date-field_wrapper{
          &:before, &:after{
            width: 102px;
          }
          &:before{
            right: 85%;
          }
          &:after{
            left: 85%;
          }
        }
      }
      .date-field{
        width: 60%;
        min-width: auto;
        font-size: 3rem;
      }
    }
  }

  .personal-data-section{
    .flex-wrapper{
      flex-wrap: wrap;
    }
    .data-personal, .promocode-personal, .info-personal{
      margin-bottom: 50px;
      .title{
        text-align: center;
      }
    }
    .data-personal{
      width: calc(50% - 30px);
      order: 1;
    }
    .promocode-personal{
      order: 3;
      width: 100%;
      .field_wrapper{
        .promocode_field{
          width: calc(100% - 30px);
          max-width: 100%;
        }
      }
    }
    .info-personal{
      width: calc(50% - 30px);
      order: 2;
      padding-top: 30px;
    }
  }

  .important-info-block{
    .important-info_inner{
      padding: 30px 15px;
    }
    .dropdown_important-info{
      .info-personal{
        flex-wrap: wrap;
        .info-item{
          width: 100%;
        }
      }
    }
  }

}

@media (min-width: 576px) and (max-width: 767.98px) {

  html{
    font-size: 14px;
  }

  .container{
    width: calc(100% - 30px) !important;
  }

  h3.title-of-block{
    font-size: 2.825rem;
  }

  .header{
    padding-top: 23px;
    padding-bottom: 23px;
    .links-wrapper_header{
      .brand-link{
        font-size: 1.5rem;
      }
      .link-item{
        display: none;
      }
    }
    .registration-wrapper_header{
      display: none;
    }
    .burger-btn{
      display: block;
    }
    .mobile-list{
      display: block;
    }
  }

  .main-banner{
    text-align: center;
    min-height: 100%;
    h1{
      font-size: 2rem;
      line-height: 40px;
      br{
        display: none;
      }
    }
    ul{
      li{
        font-size: 1.5rem;
      }
    }
  }

  .to-win_section{
    .title_to-win{
      font-size: 2rem;
      line-height: 40px;
    }
    .item_to-win{
      width: 50%;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  .regulations_section {
    padding-top: 90px;
    padding-bottom: 70px;
    .container_custom{
      width: 100%;
      padding: 0;
    }
    .flex-wrapper{
      flex-wrap: wrap;
      box-shadow: none;
      padding: 20px 15px;
    }
    .item-regulations{
      width: 100%;
      max-width: 380px;
      margin-bottom: 30px;
      box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      background-color: #fff;
      padding: 30px 20px;
    }
  }

  .referral_section{
    .flex-wrapper{
      flex-wrap: wrap;
    }
    .item-referral_wrapper{
      width: 100%;
    }
    h3{
      font-size: 2rem;
      line-height: 40px;
    }
    p{
      font-size: 1.25rem;
      line-height: 30px;
    }
  }

  .secondary-page_block{
    .flex-wrapper{
      flex-wrap: wrap;
      .item-referral_wrapper{
        width: 100%;
      }
      h3{
        font-size: 2rem;
        line-height: 40px;
      }
      p{
        font-size: 1.25rem;
        line-height: 30px;
      }
    }
  }

  .footer{
    padding-bottom: 60px;
    .flex-wrapper{
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      a{
        margin-bottom: 20px;
        &:before{
          width: 50%;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  .date-section {
    padding-top: 70px;
    .flex-wrapper{
      flex-wrap: wrap;
    }
    .history-block{
      width: 100%;
      order: 2;
      padding: 0;
      .title{
        text-align: center;
      }
    }
    .info-block{
      width: 100%;
      order: 1;
      text-align: center;
    }
    .field-wrapper{
      margin-top: 70px;
      padding:0;
      .date-entry-inner{
        background-size: 100%;
        .date-field_wrapper{
          &:before, &:after{
            width: 92px;
          }
          &:before{
            right: 83%;
          }
          &:after{
            left: 83%;
          }
        }
      }
      .date-field{
        width: 60%;
        min-width: auto;
        font-size: 3rem;
      }
    }
    .btns_wrapper{
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
      .field_rate{
        width: 100%;
        max-width: 200px;
        margin: 0 auto 30px;
      }
      .btn_rate{
        width: 100%;
        max-width: 440px;
        margin: 0 auto;
      }
    }
  }

  .personal-data-section{
    .flex-wrapper{
      flex-wrap: wrap;
    }
    .data-personal, .promocode-personal, .info-personal{
      width: 100%;
      margin-bottom: 50px;
      .title{
        text-align: center;
      }
    }
    .promocode-personal{
      .field_wrapper{
        .promocode_field{
          width: calc(100% - 30px);
          max-width: 100%;
        }
      }
    }
    .info-personal{
      margin-bottom: 0;
    }
  }

  .important-info-block{
    .important-info_inner{
      padding: 30px 15px;
    }
    .dropdown_important-info{
      .info-personal{
        flex-wrap: wrap;
        .info-item{
          width: 100%;
        }
      }
    }
  }

}

@media (min-width: 320px) and (max-width: 575.98px) {

  html{
    font-size: 14px;
  }

  .container{
    width: calc(100% - 30px) !important;
  }

  h3.title-of-block{
    font-size: 2.5rem;
  }

  .header{
    padding-top: 23px;
    padding-bottom: 23px;
    .links-wrapper_header{
      .brand-link{
        font-size: 1.5rem;
      }
      .link-item{
        display: none;
      }
    }
    .registration-wrapper_header{
      display: none;
    }
    .burger-btn{
      display: block;
    }
    .mobile-list{
      display: block;
    }
  }

  .main-banner{
    text-align: center;
    min-height: 100%;
    h1{
      font-size: 2rem;
      line-height: 40px;
      br{
        display: none;
      }
    }
    ul{
      li{
        font-size: 1.5rem;
      }
    }
    .btn-banner{
      font-size: 16px;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  .to-win_section{
    .title_to-win{
      font-size: 2rem;
      line-height: 40px;
    }
    .item_to-win{
      width: 100%;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  .regulations_section {
    padding-top: 90px;
    padding-bottom: 70px;
    .container_custom{
      width: 100%;
      padding: 0;
    }
    .flex-wrapper{
      flex-wrap: wrap;
      box-shadow: none;
      padding: 20px 15px;
    }
    .item-regulations{
      width: 100%;
      max-width: 380px;
      margin-bottom: 30px;
      box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      background-color: #fff;
      padding: 30px 20px;
    }
  }



  .referral_section{
    .flex-wrapper{
      flex-wrap: wrap;
    }
    .item-referral_wrapper{
      width: 100%;
    }
    h3{
      font-size: 2rem;
      line-height: 40px;
    }
    p{
      font-size: 1.25rem;
      line-height: 30px;
    }
  }

  .secondary-page_block{
    h2{
      font-size: 2.5rem;
      word-break: break-word;
    }
    .flex-wrapper{
      flex-wrap: wrap;

      .item-referral_wrapper{
        width: 100%;
      }
      h3{
        font-size: 2rem;
        line-height: 40px;
      }
      p{
        font-size: 1.25rem;
        line-height: 30px;
      }
    }
  }

  .footer{
    padding-bottom: 60px;
    .flex-wrapper{
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      a{
        margin-bottom: 20px;
        &:before{
          width: 50%;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  .date-section {
    padding-top: 70px;
    .flex-wrapper{
      flex-wrap: wrap;
    }
    .history-block{
      width: 100%;
      order: 2;
      .title{
        text-align: center;
      }
      .list_date{
        .item_date{
          flex-wrap: wrap;
          .title_item, .status_item, .hash_item, .date_item{
            width: 100%;
            text-align: left;
            margin-bottom: 10px;
          }
          .date_item{
            margin-bottom: 0;
          }
        }
      }
    }
    .info-block{
      width: 100%;
      order: 1;
      text-align: center;
      padding: 0;
    }
    .field-wrapper{
      margin-top: 70px;
      padding:0;
      .date-entry-inner{
        &:before{
          width: calc(100% - 50%);
          height: 100%;
        }
        .date-field_wrapper{
          &:before, &:after{
            width: 92px;
          }
          &:before{
            right: 70%;
          }
          &:after{
            left: 70%;
          }
        }
      }
      .date-field{
        width: 60%;
        min-width: 200px;
        font-size: 2.5rem;
      }
    }
    .btns_wrapper{
      flex-wrap: wrap;
      justify-content: center;
      .field_rate{
        margin-bottom: 30px;
        width: 100%;
        max-width: 200px;
      }
      .btn_rate{
        width: 100%;
        max-width: 440px;
      }
    }
  }

  .personal-data-section{
    .flex-wrapper{
      flex-wrap: wrap;
    }
    .data-personal, .promocode-personal, .info-personal{
      width: 100%;
      margin-bottom: 50px;
      .title{
        text-align: center;
      }
    }
    .promocode-personal{
      .field_wrapper{
        .promocode_field{
          width: calc(100% - 30px);
          max-width: 100%;
        }
      }
    }
    .info-personal{
      margin-bottom: 0;
    }
  }

  .important-info-block{
    .important-info_inner{
      padding: 30px 15px;
    }
    .dropdown_important-info{
      .info-personal{
        flex-wrap: wrap;
        .info-item{
          width: 100%;
        }
      }
    }
  }

}